body {
    font-family: "Segoe UI", sans-serif;
    background-color: #f4fbff;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    margin: 60px auto;
    width: 70%;
    max-width: 700px;
    background: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #0077b6;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 80%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #0077b6;
    outline: none;
}

button {
    padding: 12px 20px;
    border: none;
    background-color: #0077b6;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background-color: #005f8e;
}

.result-card {
    background-color: #e8f5ff;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}

.confidence {
    width: 100%;
    background-color: #ddd;
    border-radius: 8px;
    height: 15px;
    margin: 10px 0;
}

.bar {
    background-color: #00b4d8;
    height: 15px;
    border-radius: 8px;
}

.confidence-text {
    font-size: 14px;
    color: #333;
}

.back-btn {
    display: inline-block;
    margin-top: 25px;
    text-decoration: none;
    background-color: #0077b6;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
}

.back-btn:hover {
    background-color: #005f8e;
}
